.bio-image {
  width: 300px;
  margin: 50px auto;
}
.main-text {
  text-align: center;
}
.author-table {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #000000;
  border-collapse: collapse;
}
.author-table td{
  width: 50%;
  border: 1px solid #000000;
  padding: 10px;
}
