<div class="main-text">
    <h4 class="text-center"><strong>Постановка задачи</strong></h4>
    Для проведения анализа результативности работы серверного оборудования и составления прогнозов, необходимо реализовать программное средство, работающее с массивом данных, собранных за определенный промежуток времени и анализирующее их.
    Собрать данные для анализа можно следующими способами:
    а) использовать уже существующие системы мониторинга. То есть необходимо предоставлять набор библиотек, позволяющих интегрировать программное средство в сторонние программные комплексы;
    б) реализовать собственное решение для мониторинга оборудования.
    С точки зрения универсальности, предпочтителен первый вариант. Все современные системы мониторинга способны собирать статистику о работе серверов и аккумулировать данные в хранилищах данных. Например, система мониторинга Ganglia может контролировать более чем 40 параметров на каждом вычислительном узле.
    С другой стороны – в процессе написания и тестирования программного средства, удобнее работать с данными, полученными от собственно реализованной системы мониторинга. В дальнейшем, после завершения работы над аналитическим модулем, можно адаптировать его для других популярных систем.
    Таким образом, основными задачами разрабатываемого программного средства являются:
    а) получение и сохранение данных от контролируемого сервера;
    б) выявление значимых событий;
    в) анализ данных и составление прогнозов;
    г) быть легко настраиваемой для использования различных источников данных;
    д) корректно обрабатывать исключительные ситуации: задержки и ошибки при получении данных, отсутствие либо повреждение необходимой информации и т. п.;
    е) предоставлять изменяемый графический интерфейс пользователя;
    ж) быть надёжной, стабильной и нетребовательной к ресурсам.
    з) предоставлять набор библиотек, позволяющих интегрировать СМ в сторонние программные комплексы;
    и) иметь возможность получать и обрабатывать данные сторонних СМ единообразно и прозрачно для пользователя;
</div>
<div class="main-text">
    <h4 class="text-center"><strong>Выбор и обоснование технических и программных средств реализации</strong></h4>
    Для реализации системы мониторинга, необходимо учитывать ряд особенностей, характерных для таких систем.
    В качестве языка программирования решено было использовать объектно-ориентированный язык Java, так как он способен эффективно решать задачи, связанные с вычислениями, что понадобится для анализа данных и прогнозирования, кроме того, для этого языка существует множество удобных библиотек и фреймворков, а также мы получаем независимость от платформы, на которой выполняются программы. Таким образом, один программный продукт можно будет запускать под управлением операционных систем Windows, Linux, FreeBSD, Solaris, Apple Mac и других.
    Разрабатываемая система мониторинга должна собирать данные с устройств, работающих под различными операционными системами. Поэтому, для сбора данных, было решено использовать свободно распространяемую библиотеку Sigar, которая предоставляет унифицированный API для доступа к данным о работе узлов оборудования, работающего под различными операционными системами.
    Собранные данные будет сохраняться в СУБД MySQL. Архитектура MySQL очень сильно отличается от архитектур других серверов баз данных и делает эту СУБД эффективной для широкого спектра задач. MySQL не универсальна, но обладает достаточной гибкостью, чтобы отлично работать в очень требовательных средах, например, в веб-приложениях. В то же время MySQL может использоваться во встроенных приложениях, хранилищах данных, программном обеспечении индексирования и доставки содержимого, высоконадежных системах с резервированием, системах оперативной обработки транзакций (OLTP) и других системах.
    Для реализации веб-интерфейса управления серверами и отображения статистических данных, было решено создать веб-приложение. Серверная часть реализуется с помощью Spring MVC и REST сервиса. Клиентская часть написана с помощью HTML, CSS. Для рендера графиков будут использоваться библиотеки, написанные на языке JavaScript.
    Взаимодействие главного сервера с серверами-агентами будет осуществляться по протоколам HTTP и TCP/IP.
    Для реализации прогнозирования было решено использовать библиотеку Apache Math и написать прослойку для построения 5 различный линий тренда.
</div>
<div class="main-text">
    <h4 class="text-center"><strong>Скриншоты приложения</strong></h4>
    <div class="image-holder">
        <img class="custom-image" src="assets/img/oinft/program/1.png">
        <img class="custom-image" src="assets/img/oinft/program/2.png">
        <img class="custom-image" src="assets/img/oinft/program/3.png">
        <img class="custom-image" src="assets/img/oinft/program/4.png">
        <img class="custom-image" src="assets/img/oinft/program/5.png">
        <img class="custom-image" src="assets/img/oinft/program/6.png">
        <img class="custom-image" src="assets/img/oinft/program/7.png">
    </div>

</div>

